.Bar
{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    height: 100px;
    width: 100%;
    background-color: #E1E1E1;
    position: absolute; 
    top:50px;
}
.Logo
{
    position: absolute;
    top: 25px;
    left: 50px;
}
.Contact
{
    position: absolute;
    top: 35%;
    left: 40%;
}

.Mail
{
    position: absolute;
    top: 35%;
    left: 55%;
}
.SocialMedia
{
    position: absolute;
    top: 25px;
    left: 90%;
}
.SocialMedia img
{
    position: relative;
    top: 15px;
    height: 30px;
    width: 30px;
    margin-left : 10px;
}